*{
    margin: auto;
    box-sizing: border-box;
    text-align: center;

}
body{
    background: radial-gradient(#FFEED6, #FBBFCA);
}
h1{
    border: 2px black solid;
    padding: 80px 0;
    font-size: 50px;
}
.break{
    margin: 50px 0;
}
select{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
button{
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 40px;
}
#selectedB, #selectedS{
    margin: 60px 0;
    font-size: 40px;
    background-image: none;
    background-position: center;
    background-size: cover;
    
}
.selection{
    display: flex;
}
h2{
    flex-basis: 50%;
    border: 1px black solid;
    padding: 100px 30px;
}
