*{
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}
body{
    background: radial-gradient(#FFEED6, #FBBFCA);
}
h1{
    border: 2px black solid;
    padding: 80px 0;
    font-size: 50px;
}
.lunch{
    margin: 50px;
}
select{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
button{
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 40px;
}
.selection{
   display: flex;
   
}
#selectedC, #selectedP, #selectedV{
    margin: 60px 0;
    font-size: 40px;
    background-image: none;
    background-position: center;
    background-size: cover;
}
h2{
    border: 1px black solid;
    padding: 100px 30px;
    flex-basis: 33.3%;
}