*{
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    transition: all 1s;
    
}
body{
    background-image: url(./food.jpg);
}
h1{
    padding: 80px 0;
    font-size: 50px;
    background-image: url(./toast.jpg);
    color: wheat;
}
select{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.lunch{
    display: flex;
    align-items: center;
}
select{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: wheat;
    width: 200px;
    margin: 2%;
}
.row{
    flex: 1;
    padding: 40px 0;
}
.selectbutton{
    margin-bottom: 40px;
}
button{
    /*
    padding: 10px;
    font-size: 20px;
    background-color: #875053;
    color: #FFEED6;
    border: none;
    */
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #AF5D63;
    background-size: 400%;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #875053;
}
#selectedC, #selectedP, #selectedV{
    height: 300px;
    font-size: 40px;
    background-image: none;
    background-position: center;
    background-size: cover;
}
h2{
    border: 1px black solid;
    padding: 100px 30px;
    flex-basis: 33.3%;
}